.custom-navbar {
  background-color: #111827;
  padding: 15px 40px;
  height: 100px;
}

/* Brand */
.custom-navbar .navbar-brand {
  color: white !important;
  font-size: 22px;
  font-weight: bold;
}

/* Nav Links */
.custom-navbar .nav-link {
  color: #e5e7eb !important;
  margin: 0 10px;
  font-size: 16px;
  transition: 0.3s;
}

/* Hover */
.custom-navbar .nav-link:hover {
  color: #3b82f6 !important;
}

/* Dropdown */
.custom-navbar .dropdown-menu {
  background-color: #1f2937;
}

.custom-navbar .dropdown-item {
  color: white;
}

.custom-navbar .dropdown-item:hover {
  background-color: #3b82f6;
  color: white;
}
/* Mobile collapse background fix */
@media (max-width: 991px) {
  .custom-navbar .navbar-collapse {
    background-color: #111827;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
  }

  .custom-navbar .nav-link {
    color: white !important;
    padding: 10px 0;
  }

  .custom-navbar .dropdown-menu {
    background-color: #1f2937;
  }
}
.custom-navbar {
  position: relative;
  z-index: 1000;
}
.navbar-logo {
  height: 200px;      /* Perfect navbar size */
  width: auto;
  object-fit: contain;
}
/* Mobile View */
@media (max-width: 991px) {
  .navbar-logo {
    height: 65px;   /* Mobile me chhota */
      width: auto;
    object-fit: contain;
  }
}
